node_modules/
login.json
ChromeData_Katabump/
.env
*.log
.DS_Store
photo/
cookies.txt
screenshots/
chrome_test_profile/
*.png
scratch/
playwright_renew.py
sb_renew_final.py
vps_auto_renew.py
local_auto_renew.py
renew_vps.py